div{
    display: flex;
    justify-content: center;
    // margin-top: 0.5rem;
    // margin-bottom: 1.5rem;
}

div input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 2rem;
    width: 20rem;
    background-color: #f1f1f1;
    // padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

div button{
    color: grey;
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #e72929;
    opacity: .9;
    color: white;
    outline: none;
}

div button:hover{
    cursor: pointer;
    opacity: 1;
}