ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 25rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5 rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: red;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: grey;
}

.stars{
    margin-bottom: .2rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origins{
    flex:9;
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: .7rem;
    color: grey;
    margin-right: .3rem;
}

.cook-time{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}

.price{
    color: #414141;
    margin-top: .7rem;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    // padding: 12px 14px;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// div a{
//     background-color: #f0f0f0;
//     padding: .3rem 1rem;
//     margin: .2rem .15rem;
//     border-radius: 10rem;
//     font-weight: 600;
//     color: blue;
//     font: 1em sans-serif;
// }