.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;
}

.container > *{
 min-width: 25rem;
 max-width: 40rem;
}

img{
    border-radius: 3rem;
    flex:1 0;
    object-fit: cover;
    height: 35rem;
    margin: 1rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}

.details .header{
    display: flex;
    justify-content: space-between;
}

.details .name{
    font-size: 2rem;
    font-weight: bold;
}

.details .favorite{
    color: #e72929;
    font-size: 2.5rem;
    cursor: pointer;
}

.details .favorite.not{
    color: gray;
    cursor: pointer;

}

.details .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.details .origins > span{
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: aliceblue;
}

.details .cook-time{
    margin-top: 1rem;
}

.details .cook-time span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}

.details .price{
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;
}

.details .price::before{
    content: "Price: ";
    color: darkgrey;
}

.details button{
    color: white;
    background: #e72929;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
}

.details button:hover{
    opacity: .9;
    cursor: pointer;
}
.add-fav {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: -webkit-linear-gradient( top,#fff,#ddd) #ddd;
    position: relative;
    transition: all .5s ease;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px #eee;
    
    &:hover {
      background: -webkit-linear-gradient( top,#fff,#ccc) #ddd;
    }
  
    .icon-heart {
      font-size: 24px;
      color: #666;
      position: relative;
      transition: all .5s ease-in-out;
    }
    .icon-plus-sign {
      font-size: 10px;
      color: #333;
      background: #fff;
      border-radius: 100%;
      position: absolute;
      bottom: 2px;
      right: 2px;
      height: 11px;
      width: 11px;
      line-height: 11px;
      text-align: center;
      transition: all 1s ease-in-out;
    }
    input[type="checkbox"] { 
      position: absolute;
      opacity: 0;
      &:checked + .icon-heart {
        color: orange;
        .icon-plus-sign {
          display:none;
        }
      }
    }
  }
